<!DOCTYPE html>
<html>
  <head>
    <title>List <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bargain Book <%=shopName%></h1>
    <p>He</p>
    <!-- genrating form availabe books, books under £20 -->
    <ul>
      <% for (let book of availableBooks) { %>
      <li><%= book.name%> - <%= book.price %></li>
      <% } %>
    </ul>
  </body>
</html>
